# Virtual Environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Python byte-code and caches
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editor configurations
.idea/
.vscode/
*.swp
*.swo
*~

# Logs & Environment variables
*.log
.env
.env.local
